
# Created by https://www.gitignore.io/api/java,gradle,eclipse

target/classes/
target/
/target
/target/

!/target/backend-0.0.1-SNAPSHOT.jar

# End of https://www.gitignore.io/api/java,gradle,eclipse
